{%- assign preview_image = product.featured_media.preview_image -%}
<div class="product-card">
    <a href="{{ product.url }}" class="product-link"></a>
    <div class="image-container">
        <img src="{{ preview_image | img_url: '200x' }}" alt="{{ preview_image.alt }}">
    </div>
    <div class="product-description">
        <h3 class="h3 product-title">{{ product.title }}</h3>
        <p class="product-type">{{ product.type }}</p>
    </div>
    <p class="product-price">{{ product.price | money }}</p>
</div>